html {
  font-size: 16px; }

body {
  background-color: #0e1111; }

h1, h2 {
  color: #fff;
  margin: 2% 0%;
  text-transform: uppercase; }

h2 {
  text-align: center; }

h5 {
  text-align: center;
  color: #fff; }

.navHeader {
  background: #fff; }
  .navHeader .nav-link {
    color: #0e1111;
    font-style: "Roboto", sans-serif;
    font-size: 1.2rem; }

footer {
  background: #fff; }
  footer .nav-link {
    font-style: "Roboto", sans-serif;
    color: #0e1111;
    font-size: 1.2rem; }
  footer a.nav-link:hover {
    color: #b9b9b9; }
  footer img {
    max-width: 100px;
    max-width: 100px; }
  footer p {
    color: #0e1111;
    font-style: "Roboto", sans-serif;
    font-size: 0.8rem; }

body {
  padding-top: 7.7rem; }

.producto div {
  background-color: #1e1e1e; }
  .producto div p {
    text-align: center;
    color: #fff;
    margin: 2% 0%; }

.producto div:hover div {
  border: #ea2323 solid; }

.intro {
  background: #ea2323;
  background: -moz-linear-gradient(180deg, rgba(234, 35, 35, 0.836572) 0%, rgba(129, 22, 22, 0.962623) 75%);
  background: -webkit-linear-gradient(180deg, rgba(234, 35, 35, 0.836572) 0%, rgba(129, 22, 22, 0.962623) 75%);
  background: linear-gradient(180deg, rgba(234, 35, 35, 0.836572) 0%, rgba(129, 22, 22, 0.962623) 75%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea2323",endColorstr="#811616",GradientType=1);
  text-shadow: 1px 2px 13px #0e1111;
  text-align: center; }
  .intro p {
    color: #fff;
    text-shadow: 1px 2px 13px #0e1111; }

.buttonColor {
  border: none;
  background-color: #ea2323 !important; }

.cart p, .cart .price, .cart .cantidad, .cart .total {
  color: #fff;
  text-align: center; }

.cart .priceTotal {
  background-color: #ea2323;
  color: #fff;
  text-align: center; }

.formPedido {
  background-color: #b9b9b9;
  font-style: "Roboto", sans-serif;
  color: #0e1111;
  font-size: 1.2rem;
  border-radius: 1rem; }

.formButtons {
  border-radius: 1rem;
  margin: 1rem; }
  .formButtons .enviarForm {
    background-color: green;
    color: #fff; }
  .formButtons .limpiarForm {
    background-color: #ea2323;
    color: #fff; }
